.block-message__textarea {
  height: 142px;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 14px;
  resize: none;

  border: 2px solid #000000;
}

@media (min-width: $tablet-width) {
  .block-message__wrap {
    display: flex;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 53px;
  }

  .block-message__textarea {
    width: 501px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .block-message__wrap {
    padding-right: 175px;
    padding-bottom: 49px;
  }

  .block-message__textarea {
    width: 700px;
  }
}
