.button {
  display: inline-block;
  padding: 16px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-grey;
  text-transform: uppercase;

  text-align: center;

  background-color: transparent;
  border: 2px solid $color-grey;
}
