.button {
  display: block;
  padding: 16px;

  @include font-set(17px, 20px);
  font-weight: 700;
  color: $color-grey;
  text-transform: uppercase;

  text-align: center;

  background-color: transparent;
  border: 2px solid $color-grey;
}
