.button {
  display: block;
  padding: 14px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-grey;
  text-transform: uppercase;

  text-align: center;

  background-color: transparent;
  border: 2px solid $color-grey;

  &:hover {
    color: #ffffff;
    background-color: $color-grey;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: $color-grey;
  }
}
