.catalog__title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 70px;
  padding-bottom: 70px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  background-color: $bg-grey;
}

.catalog__list {
  @include list-reset();
}

.catalog__item {
  margin-bottom: 30px;
  padding-bottom: 26px;
}

.catalog__link-image {
  display: block;
  margin-bottom: 27px;
}

.catalog__link-name {
  display: block;
  margin-bottom: 14px;
}

.catalog__subtitle {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;
}

.catalog__description {
  margin: 0;
  margin-bottom: 51px;

  font-size: 13px;
  line-height: 30px;
  color: $color-grey;
}

.catalog__price {
  margin: 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    margin-bottom: 79px;

    font-size: 43px;
    line-height: 50px;

    text-align: center;
  }

  .catalog__list {
    width: 669px;
    margin: 0 auto;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 54px;
    padding: 0;
  }

  .catalog__link-image {
    margin: 0;
  }

  .catalog__image {
    width: 334px;
    height: 334px;
  }

  .catalog__wrapper-item {
    display: flex;
    flex-direction: column;
    width: 335px;
    padding: 25px 33px 25px 34px;
  }

  .catalog__link-name {
    margin-bottom: 11px;
  }

  .catalog__subtitle {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__description {
    flex-grow: 1;
    margin: 0;

    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    margin-bottom: 128px;

    font-size: 53px;
    line-height: 57px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    width: 1049px;
  }

  .catalog__item {
    flex-direction: column;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__wrapper-item {
    height: 100%;
  }
}
