.copyright__link {
  display: flex;

  &:hover .copyright__logo-htmlacademy {
    fill: #46c1ae;
  }

  &:focus {
    opacity: 0.3;
  }

  &:focus .copyright__logo-htmlacademy {
    fill: #46c1ae;
  }
}

.copyright__logo-htmlacademy {
  fill: #63d1bb;
}

.copyright__text {
  margin-right: 24px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
