.field-client__wrap {
  padding: 0 30px;
  padding-bottom: 11px;
}

.field-client__label {
  display: block;

  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
}

.field-client__list {
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .field-client__wrap {
    display: flex;
    align-items: baseline;
    padding: 48px 50px 28px 50px;
  }

  .field-client__list {
    width: 501px;
    margin-top: 0;
    margin-left: auto;
  }

  .field-client__item {
    display: flex;
    margin-bottom: 23px;
  }

  .field-client__label {
    align-self: center;
    margin-right: 25px;

    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .field-client__list {
    width: 700px;
    margin-left: 73px;
  }
}
