.form-order {
  padding-bottom: 55px;
}

.form-order__legend {
  position: relative;
  margin: 0;

  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-seafoam;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    height: 1px;
    width: 198px;
    background-color: #63d1bb;
  }
}

.form-order__legend--mail {
  &::after {
    width: 179px;
    left: 81px;
  }
}

.form-order__field {
  padding: 0;

  border: none;
}

.form-order__list {
  @include list-reset();
}

.form-order__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form-order__input {
  width: 100%;
  height: 52px;
  margin-bottom: 21px;

  font-size: 17px;
  line-height: 18px;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
  }
}

.form-order__note {
  margin: 0;
  margin-bottom: 31px;

  font-size: 14px;
  line-height: 16px;
  color: $color-grey;
}

.form-order__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form-order {
    padding-bottom: 50px;
  }

  .form-order__legend {
    &::after {
      display: none;
    }
  }

  .form-order__label {
    font-size: 19px;
  }

  .form-order__wrap-bottom {
    display: flex;
    align-items: baseline;
  }

  .form-order__input {
    margin-bottom: 0;
    height: 53px;
    padding-left: 18px;

    font-size: 19px;
  }

  .form-order__note {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .form-order__button {
    order: -1;
    width: auto;
    margin-right: auto;
    padding-left: 28px;
    padding-right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .form-order__wrap-bottom {
    width: 700px;
    padding: 0;
  }

  .form-order__legend {
    margin-left: 61px;
  }
}
