.page-header {
  padding-top: 70px;
  padding-bottom: 76px;

  background-color: $bg-grey;
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 95px;
    padding-bottom: 0;
  }

  .page-header__wrap {
    position: relative;
    padding-bottom: 80px;

    &::after {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 770px;
      height: 25px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 25px;
      background-position: 0 0;
      background-repeat: repeat-x;
    }
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrap {
    padding-bottom: 100px;

    &::after {
      bottom: -20px;
      width: 1150px;
      height: 35px;
      background-size: 1150px 35px;
    }
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
