.page-header {
  padding-top: 70px;
  padding-bottom: 76px;

  background-color: $bg-grey;
}

.page-header__title {
  margin: 0;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 95px;
    padding-bottom: 80px;
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-bottom: 100px;
  }

  .page-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
