.page-footer {
  padding-top: 23px;
  padding-bottom: 25px;

  background-color: $bg-grey;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding: 0 62px 22px 57px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  width: 185px;
  margin: 0 auto;
  padding-top: 22px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .page-footer__logo {
    display: block;
    margin-right: 159px;

    &:hover .page-footer__logo-footer {
      fill: #46c1ae;
    }

    &:focus .page-footer__logo-footer {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }

  .page-footer__social {
    padding: 0;
    margin-right: auto;

    border-bottom: none;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo {
    margin-right: 349px;
  }
}
