.popular-product {
  width: 260px;
  margin: 0 auto;

  padding-top: 30px;
  padding-bottom: 36px;
}

.popular-product__week-title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.popular-product__title {
  display: block;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
  margin-bottom: 29px;

  font-size: 15px;
  line-height: 24px;
  color: $color-grey;
}

.popular-product__feature {
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 20px;
  color: $color-grey;
}

.popular-product__image {
  margin-bottom: 25px;
}

.popular-product__price {
  margin: 0;
  margin-bottom: 24px;

  font-size: 17px;
  line-height: 24px;
  color: $color-grey;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .popular-product {
    width: 668px;
    padding-top: 39px;
    padding-bottom: 49px;
  }

  .popular-product__top-wrapper {
    display: flex;
    margin-bottom: 51px;
  }

  .popular-product__week-title {
    font-size: 43px;
    line-height: 50px;
  }

  .popular-product__title {
    width: 80px;
    margin-left: auto;
    margin-bottom: 0;

    line-height: 17px;
    text-align: center;
  }

  .popular-product__main-wrapper {
    position: relative;
    padding-right: 382px;
  }

  .popular-product__description {
    margin-bottom: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__feature {
    margin-bottom: 55px;
  }

  .popular-product__image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .popular-product__price {
    margin-bottom: 30px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .popular-product {
    width: 1050px;
    padding-top: 113px;
    padding-bottom: 69px;
  }

  .popular-product__top-wrapper {
    justify-content: flex-start;
  }

  .popular-product__week-title {
    order: 2;
    z-index: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .popular-product__title {
    order: 1;
    margin-right: 54px;
    margin-left: 0;
  }

  .popular-product__main-wrapper {
    padding-left: 175px;
    padding-right: 593px;
  }

  .popular-product__description {
    margin-bottom: 62px;
  }

  .popular-product__feature {
    margin-bottom: 107px;
  }

  .popular-product__image {
    top: -150px;

    width: 525px;
    height: 636px;
  }
}
