.popular-product {
  position: relative;
  padding-top: 27px;
  padding-bottom: 43px;
}

.popular-product__week-title {
  margin: 0;
  margin-bottom: 6px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.popular-product__title {
  display: block;
  margin-bottom: 22px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.popular-product__description {
  margin: 0;
  margin-bottom: 17px;

  font-size: 15px;
  line-height: 24px;
  color: $color-grey;
}

.popular-product__table {
  width: 260px;
  margin-bottom: 28px;

  font-size: 15px;
  line-height: 20px;
  color: $color-grey;

  border-collapse: collapse;
}

.popular-product__cell {
  padding: 10px 0 9px 0;

  border-bottom: 1px solid #ececec;
}

.popular-product__cell--right {
  padding-left: 15px;
}

.popular-product__image {
  margin-bottom: 19px;
}

.popular-product__price {
  margin: 0;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  color: $color-grey;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .popular-product {
    padding-top: 44px;
    padding-bottom: 70px;
  }

  .popular-product__top-wrapper {
    display: flex;
    margin-bottom: 49px;
  }

  .popular-product__week-title {
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .popular-product__title {
    width: 80px;
    margin-top: 12px;
    margin-right: 23px;
    margin-left: auto;
    margin-bottom: 0;

    line-height: 17px;
    text-align: center;
  }

  .popular-product__main-wrapper {
    position: relative;
    padding-right: 378px;
  }

  .popular-product__description {
    margin-bottom: 35px;

    font-size: 17px;
    line-height: 30px;
  }

  .popular-product__table {
    width: 292px;
    margin-bottom: 57px;
  }

  .popular-product__cell--right {
    padding-left: 0;
  }

  .popular-product__image {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 1;

    width: 333px;
    height: 404px;
    margin-bottom: 0;
  }

  .popular-product__price {
    margin-bottom: 34px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .popular-product {
    padding-top: 122px;
    padding-bottom: 100px;
  }

  .popular-product__top-wrapper {
    justify-content: flex-start;
  }

  .popular-product__week-title {
    order: 2;
    z-index: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .popular-product__title {
    order: 1;
    margin-top: 15px;
    margin-right: 49px;
    margin-left: 43px;
  }

  .popular-product__main-wrapper {
    padding-left: 175px;
    padding-right: 583px;
  }

  .popular-product__description {
    margin-bottom: 49px;
  }

  .popular-product__table {
    margin-bottom: 109px;
  }

  .popular-product__cell {
    padding: 9px 0 10px 0;
  }

  .popular-product__image {
    top: -158px;

    width: 525px;
    height: 636px;
  }
}
