.product-review {
  box-sizing: content-box;

  border: 1px solid #ececec;
}

.product-review__title {
  margin: 0;
  padding: 25px 20px 23px 90px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.product-review__wrap {
  padding: 21px 34px 33px 34px;
}

.product-review__description {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .product-review {
    display: flex;
    flex-direction: column;

    border: 1px solid #ececec;
  }

  .product-review__title {
    padding: 31px 20px 32px 107px;

    font-size: 20px;
  }

  .product-review__video {
    order: -1;
  }

  .product-review__image {
    width: 668px;
    height: 455px;
  }

  .product-review__wrap {
    padding: 0 42px 46px 41px;
  }

  .product-review__description {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-review {
    box-sizing: border-box;
    position: relative;
    padding: 94px 57px 61px 760px;

    border: solid 1px #ececec;
  }

  .product-review__title {
    margin-bottom: 33px;
    padding: 0;
  }

  .product-review__video {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  .product-review__image {
    width: 682px;
    height: 454px;
  }

  .product-review__wrap {
    padding: 0;
  }

  .product-review__description {
    margin-bottom: 45px;
    padding-left: 0;
  }

  .product-review__order {
    width: auto;
    margin: 0;
  }
}
