.service-knitting {
  padding-top: 22px;
  padding-bottom: 25px;
}

.service-knitting__description {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  color: $color-grey;
}

@media (min-width: $tablet-width) {
  .service-knitting {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .service-knitting__description {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .service-knitting {
    padding-top: 123px;
  }

  .service-knitting__description {
    width: 700px;
    margin: 0 auto;
  }
}
