.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;

  @include list-reset();
}

.social__link {
  fill: #231f20;

  &:hover {
    fill: #46c1ae;
  }

  &:focus {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 140px;
  }
}
