.user-menu__item {
  border-bottom: 1px solid #ececec;
}

.user-menu__item--cart {
  border: none;
}

.user-menu__link {
  display: block;
  position: relative;
  padding: 28px 0 26px 76px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $color-black;

  white-space: nowrap;
}

.user-menu__icon-search {
  position: absolute;
  top: 32px;
  left: 33px;

  width: 18px;
  height: 18px;

  fill: #231f20;

  opacity: 0.2;
}

.user-menu__link--search {
  position: relative;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .user-menu__icon-search {
    fill: #63d1bb;

    opacity: 1;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus .user-menu__icon-search {
    fill: #63d1bb;

    opacity: 0.3;
  }
}

.user-menu__icon-cart {
  position: absolute;
  top: 31px;
  left: 31px;

  width: 21px;
  height: 18px;

  fill: #231f20;

  opacity: 0.2;
}

.user-menu__link--cart {
  position: relative;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .user-menu__icon-cart {
    fill: #63d1bb;

    opacity: 1;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus .user-menu__icon-cart {
    fill: #63d1bb;

    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .user-menu {
    order: -1;
    display: flex;
  }

  .user-menu__item {
    border: none;
  }

  .user-menu__item--search {
    width: 84px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-menu__link {
    padding: 31px 0 33px 0;
  }

  .user-menu__link--search {
    font-size: 0;
  }

  .user-menu__icon-search {
    top: 37px;
    left: 32px;
  }

  .user-menu__link--cart {
    padding-left: 83px;
  }

  .user-menu__icon-cart {
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .user-menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .user-menu__link--cart {
    padding-left: 84px;
  }
}
